body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
}

button {
    margin-bottom: 1em;
    background: none;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 0.2s;
}

button:hover {
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.2em);
    cursor: pointer;
}

button:focus {
    outline: none;
}

button:disabled {
    box-shadow: none;
    transform: none;
    cursor: not-allowed;
}

canvas {
    height: 30vh;
}

h2 {
    font-size: 1.5rem;
}

li {
    display: inline;
    font-size: 0.7rem;
}

div.col-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0.9rem;
    margin-bottom: 1rem;
}

ul {
    padding-left: 0;
}

.grid {
    border: 1px solid black;
}

#colors-left {
    height: 30vh;
}

#picked-color {
    font-size: 2rem;
}