body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    margin-bottom: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    background: none;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 0.2s;
}

button:hover {
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.2em);
    cursor: pointer;
}

button:focus {
    outline: none;
}

button:disabled {
    box-shadow: none;
    transform: none;
    cursor: not-allowed;
}

h1, h2 {
    flex-basis: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
    height: 70vh;
}

section {
    flex-basis: 100%;
    flex-wrap: wrap;
}

ul {
    padding-left: 0;
    list-style-type: circle;
}

.row {
    display: flex;
    justify-content: center;
}

#left {
    display: flex;
    flex: 1;
}

#right {
    display: flex;
    flex: 1;
}

#picked-color {
    font-size: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    ul {
        padding-left: 1rem;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.2em;
    }
    #picked-color {
        font-size: 2rem;
    }
}